
hr {
  color: #525564;
  height: 2px;
}

.fade-in {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

.fade-in.load {
    opacity: 1;
}



.selected {
  /*color: #89bdd3 !important;*/
  font-weight: bold !important;
}

/*Centered column*/
.col-centered{
  float: none;
  margin: 0 auto;
}

.footer-row i {
  color: black;
}

.footer-row i:hover {
  color: black;
  opacity: 0.5;
}



/**********************Side bar for navigation in portfolio pieces*******************8*/
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* all links in sidebar*/
.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}
/* nested links in sidebar*/
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 1em;
}
/* add transparent border to all links in sidebar*/
.bs-docs-sidebar .nav>li>a {
    border-left: 2px solid transparent;
}
/* active & hover links in sidebar*/
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: black;
    text-decoration: none;
    font-weight: 400;
    background-color: transparent;
    border-left: 1px solid black;
}
/* change font weight for all active links in sidebar*/
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* change font weight for nested active links in sidebar*/
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 400;
}
/*to make sidebar scrollable*/
.bs-docs-sidebar > ul {
    overflow-y: auto;
    height: 100%;
}

/******************** different screen sizes **************************/
/*Largest screen*/
@media only screen and (min-width: 991px) {

  body {
    margin-top: 110px;
  }

  .navbar-default {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    background-color: transparent;
    padding: 30px 40px 40px 40px;
    border: none;
  }

  .navbar-brand {
    color: white !important;
    font-weight: 300;
    font-size: 1.5em;
  }

  .navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: 300;
    padding: 0px 0px 10px 0px;
    margin: 15px 15px 0px 15px;
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
  }

  /*****Button Underline From Left *******/
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: white;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  .captions h3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    color: black;
    font-size: 1.5vw;
  }

  .jumbotron {
    background: url('../assets/index-bg-longer.JPG') no-repeat center center;
    background-size: cover;
    /*position: relative;*/
    height: 600px;
    color: black;

    overflow: hidden;
    margin-top: -120px;
    padding-top: 250px;
    padding-left: 10%;
    /*padding-right: 20%;*/
    margin-bottom: 100px;
  }

  .jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-size: 4.5vw;
    color: white;
    opacity: 1;
  }

  .jumbotron p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
    color: white;
    opacity: 1;
    padding-left: 18px;
  }

  /*#jumbo-bg {
      position: absolute;
      left: 0;
      top: -30%;
      width: 100%;
      height: auto;
      opacity: 0.2;
      overflow: hidden;
  }*/

}

/*Larger than medium but smaller than largest screen*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  body {
    margin-top: 70px;
  }


  .navbar-default {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    background-color: white;
    opacity: 0.9;
    padding: 10px 40px 10px 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navbar-brand {
    color: black !important;
    font-weight: 400;
    font-size: 1.5em;
  }

  .navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: 300;
    padding: 0px 0px 10px 0px;
    margin: 15px 15px 0px 15px;
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: black;
  }

  /*****Button Underline From Left *******/
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  .captions h3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    color: black;
    font-size: 2vw;
  }

  .jumbotron {
    background: url('../assets/index-bg-longer.JPG') no-repeat center center;
    background-size: cover;
    /*position: relative;*/
    height: 600px;
    color: black;

    overflow: hidden;
    padding-top: 240px;
    padding-left: 5%;
    /*padding-right: 20%;*/
    margin-bottom: 100px;
  }

  .jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-size: 5vw;
    color: white;
    opacity: 1;
  }

  .jumbotron p {
    font-family: 'Lato', sans-serif;
    font-size: 2vw;
    color: white;
    opacity: 1;
    padding-left: 17px;
  }


  /*****Button Underline From Left *******/
  .hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: black;
    height: 1px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }
/*
  #jumbo-bg {
      position: absolute;
      left: 0;
      top: -15%;
      width: 100%;
      height: auto;
      opacity: 0.2;
      overflow: hidden;
  }*/
}

/*Everything larger than medium*/
@media only screen and (min-width: 768px) {




  .portfolio-row {
    padding: 0px 50px 20px 50px;
  }

  .footer-row {
    padding: 30px 50px 15px 50px;
    background: white; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left top, #a4e1e9 , #cae4db); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #a4e1e9 , #cae4db); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, #a4e1e9 , #cae4db); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, #a4e1e9 , #cae4db); /* Standard syntax */
  }


  #template-content {
    padding: 0px 20px 20px 60px;
  }

  .subgroup p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2em;
    color:  #525564;
    line-height: 32px;
    margin-bottom: 50px;
  }

  /***********Template.HTML*****************/

  .group h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2.2em;
    color: #525564;
    margin-bottom: 20px;
  }

  .subgroup h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    color:  #525564;
    margin-bottom: 20px;
  }


  .footer p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: right;
  }

  .footer-icons i {
    float: left;
    padding-left: 12px;
    padding-top: 3px;
  }

}

/*Mobile screen*/
@media only screen and (max-width: 767px) {
  .navbar-default {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    background-color: white;
    opacity: 0.9;
    padding: 10px 5px 10px 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navbar-brand {
    color: black !important;
    font-weight: normal;
    font-size: 1.2em;
  }

  .jumbotron {
    background: url('../assets/index-bg-longer.JPG') no-repeat center center;
    background-size: cover;
    /*position: relative;*/
    height: 300px;
    color: black;

    overflow: hidden;
    padding-top: 80px;
    padding-left: 5%;
    /*padding-right: 20%;*/
    margin-bottom: 100px;
  }

  .jumbotron h1 {
    font-family: 'Lato', sans-serif;
    font-size: 6vw;
    color: white;
    opacity: 1;
  }

  .jumbotron p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: white;
    opacity: 1;
    padding-left: 16px;
  }

  .portfolio-row {
    padding: 0px 10px 20px 10px;
  }

  .footer-row {
    padding: 30px 10px 10px 10px;
    background-color: #21CE99;
  }

  body {
    margin-top: 70px;
  }

  .captions h3 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-align: center;
    color: black;
    font-size: 3.5vw;
  }


  #template-content {
    padding: 0px 20px 20px 20px;
  }

  /******Template.HTML******/

  .group h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #525564;
  }

  .subgroup h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #525564;
  }

  .subgroup p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.15em;
    line-height: 25px;
    margin-bottom: 50px;
    color: #525564;
  }

  /*#jumbo-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      height: 110%;
      opacity: 0.2;
      overflow: hidden;
  }*/


  .footer p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
  }

  .footer-icons {
    position: relative;
    left: 35%;
  }

  .footer-icons i {
    padding: 3px 12px 0px 12px;
  }
}





/*************************PORTFOLIO.HTML****************************/


.thumbnail {
  border: none;
  border-radius: 0px;
  margin-bottom: 10px;
  padding: 0px;
  overflow: hidden;
  min-height: 230px;
}

.portfolio-row div a {
  text-align: center;
  text-decoration: none;
}

.portfolio-row div a h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: black;
  padding-bottom: 20px;
}

.portfolio-row div a h4:hover {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
}

.thumbnail:hover+h4 {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
}

/*a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {

}*/

.thumbnail {
  background: white;
}

.thumbnail img {
	-webkit-transform: scale(1);
	transform: scale(1);
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  max-height: 230px;
}
.thumbnail:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
  opacity: 0.2;
}

.thumbnail .captions {
  position: absolute;
  height: 78%;
  width: 91%;
  top: 28%;
  left:15px;
  text-align: left;
  /*color: black;*/
  opacity: 0;
}

.thumbnail:hover .captions {
  position: absolute;
  height: 78%;
  width: 91%;
  top: 30%;
  left:16px;
  text-align: left;
  /*color: black;*/
  opacity: 1;
}

/*******************************About.html********************************/

.no-top-margin {
  margin-top: 0px;
}

.content-box {
  border-left: 1px solid #979797;
  padding-left: 28px;
  padding-right: 20px;
}

h2 {
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 2.6em;
  font-weight: 400;
}

h5 {
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.quote {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 1.8em;
  font-weight: 300;
}

.content-box p {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}

/*******************IDs*******************/
#about-photo {
  padding: 40px 0px 40px 0px;
}

#about-name {
  font-family: 'Lato', sans-serif;
  padding: 0px 20px 20px 20px;
}

#about-content {
  margin-top: 70px;
}

#template-to-top {
  position: fixed;
  bottom: 30px;
  right: 50px;
  padding: 10px 13px 10px 13px;
  border-radius: 50%;
  color: black;
  background-color: rgba(255,255,255,0.5);


}

#sidebar {
  position:fixed;
  width:220px;
}
